
<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    {% load static %}
      <link rel="stylesheet" href="{% static '/css/style.css' %}" />

      <style>
        .alert-error{
            background-color:white;
            padding: 10px;
            border:2px;
            border-radius: 3px;
    
        }
        .container .forms{
    display: flex;
    align-items: center;
    height: 740px;
    width: 200%;
    transition: height 0.2s ease;
}

      </style>
         
    <!--<title>Login & Registration Form</title>-->
</head>
<body>
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>Alert</strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</div>
{% endfor %}

    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Employee Signup</span>

                <form action="#" method="post" >
                    {% csrf_token %}
                    <div class="input-field">
                        <input type="text" name="fname" placeholder="Enter your First name" required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input name="lname" type="text" placeholder="Enter your Last name" required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" name="username" placeholder="Enter your user name" required>
                        <i class="uil uil-user"></i>
                    </div>

                    <div class="input-field">
                        <input name="email" type="text" placeholder="Enter your email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input name="password" type="password" class="password" placeholder="Enter your password" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div class="input-field">
                        <input name="cpassword" type="password" class="password" placeholder=" Confirm Enter your password" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Remember me</label>
                        </div>
                        
                    </div>
                    <div class="login-signup">
                        <span class="text">Already a member?
                            <a href="{% url 'Eplogin' %}" class="text login-link">Login Now</a>
                        </span>
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="Signup">
                    </div>
                </form>

            </div>

            <!-- Registration Form -->
            
            </form>


            </div>
        </div>
    </div>

{% load static %}
<script src="{% static '/js/script.js' %}"></script>

</body>
</html>
